#body{
    overflow: hidden;
}
html{
    overflow: hidden;
}
#button{
    
    font-size:1.3rem;
    color: white;
    background-color: transparent;
    letter-spacing: 0.5rem;
    transition: 0.3s ease background-color;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid crimson;
    padding: 10px 20px;
    border-radius: 10px;
}
#button:hover{
    background-color: crimson;
}
#main{
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

#main h1{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: cursive;
}
#main #otp{
    color: crimson;
    font-size: 1.3rem;
   position: relative;
}
#main #otp::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hotpink;
    animation: name 0.6s ease forwards ;
    animation-delay: .2s;
}
p{
    font-size: 1.1rem;
        line-height: 1.5rem;
        letter-spacing: 0.05rem;
       text-align: left;
       margin: 0px auto;
       padding: 10px;
   
}
@keyframes name{
    0%{
        left:0%;
        width: 100%;
    }
    100%{
        left: 100%;
        width: 0%;
    }
}


/*media querry */
/*Medium  end devices*/
@media only screen and (min-width: 375px){
    #main h1{
        font-size: 1.4rem;
    }
    #main h1 #otp{
        font-size: 1.7rem;
    }
    p{
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: 0.08rem;
        }
    }
/*end of Medium small end devices*/


/*large end devices*/

@media only screen and (min-width: 425px){
    #main h1{
        font-size: 1.6rem;
    }
    p{
        font-size: 1.3rem;
        line-height: 1.7rem;
    }
}
/*end of large  end devices*/


/*Tablets devices*/

@media only screen and (min-width: 768px){
    #main h1 #otp{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0.1rem;
    }
}
/*end of Tablets*/




/*end media querry */
/*
#button{
    
    font-size:2rem;
    color: white;
    background-color: transparent;
    letter-spacing: 0.5rem;
    transition: 0.3s ease background-color;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid crimson;
    padding: 10px 20px;
    border-radius: 10px;
}
#button:hover{
    background-color: crimson;
}
#main{
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

#main h1{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    font-family: cursive;
}
#main #otp{
    color: crimson;
   font-size: 2rem;
   position: relative;
}
#main #otp::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hotpink;
    animation: name 0.6s ease forwards ;
    animation-delay: .2s;
}
p{
    font-size: 1.5rem;
    line-height: 1.9rem;
    letter-spacing: 0.05rem;
   text-align: center;
   margin: 10 auto;
}
@keyframes name{
    0%{
        left:0%;
        width: 100%;
    }
    100%{
        left: 100%;
        width: 0%;
    }
}
